.history {
  cursor: pointer;
}

header {
  position: relative;
  padding: 80px;
  background-color: var(--sub-color);
  background: url("../img/header.jpg") 0 0 no-repeat;
  background-size: cover;
  height: 300px;
  color: white;
}

.header-title {
  position: relative;
  z-index: 10;
}

.header-content::after{
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  content: "";
}

/* project.hbs */
.project_wrap {
  padding: 0 10%;
}

.project_list {
  margin: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 280px;
  height: 400px;
  margin: 2rem;
  background: rgb(29, 29, 29);
  color: #ffffff;
  border: 2px solid rgb(119, 119, 119);
  border-radius: 7px;
  transition: 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card:hover {
  box-shadow: 5px 5px 20px rgb(66, 66, 66);
}

.card-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 5px;
}


.card-contents {
  padding: 5%;
}

.card h1 {
  font-size: 1.1rem;
}

.card b {
  font-size: 0.8rem;
  margin: 5px 0;
}

.card p {
  margin-top: 17px;
  font-size: 0.9rem;
  height: 85px;
  overflow: hidden;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  padding: 50px 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 7px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.modal-header {
  margin: 3%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(221, 221, 221);
  display: flex;
  justify-content: space-between;
}

.modal-header h1,
.modal-header .modal_edit {
  font-size: 1.1em;
  font-weight: bold;
}

.modal-body {
  margin: 5%;
}

.modal-body-img {
  width: 100%;
  height: 250px;
}

.modal-body-img div {
  height: 100%;
}

.modal-body-des {
  width: 100%;
  padding: 30px 0 10px 0;
}

.modal-footer {
  margin: 2% 5%;
  padding-top: 10px;
  border-top: 2px solid rgb(221, 221, 221);
  display: flex;
  justify-content: center;
}

.modal-footer-btn {
  font-size: 13px;
  padding: 12px 30px;
  letter-spacing: 2px;
  border-radius: 15px;
  background: rgb(66, 66, 66);
  color: white;
  transition: transform 80ms ease-in;
}

.modal-footer-btn:hover {
  background: #000000;
}

.modal-footer-btn:active {
  transform: scale(0.95);
}

.modal-footer-btn:focus {
  outline: none;
}

.modal_edit {
  color: rgb(119, 119, 119);
}

.modal_edit:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.close {
  color: rgb(119, 119, 119);
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}


.container {
  min-height: 100%;
  margin: 80px;
  color: #ffffff;
  align-self: center;
}

.edit__component{
  width: 720px;
  font-size: 18px;
  background-color: transparent;
}

#edit__header {
  font-size: 48px;
}
.note-editable { 
  background-color: black !important; color: white !important; 
}

#edit__save {
  background-color: #ff9920;
  border: 1px solid #a8783f;
  border-radius: 5%;
  padding: 6px 12px;
}

.hide{
  display: none;
}