<div class="wrapper">
  <div class="portfolio-wrapper">
      <p class="introduce">✨J2KB는 어떤 단체인가요?✨</p>
  <p class="page">
    J2KB는 Journey 2(To) Know the Beautiful Coding의 약자이며 2020년 4월, 코딩이 무엇인지도 제대로 모르는 대학생 4명이 만들어낸 코딩 스터디 동아리입니다. <br/>
    서로 정보를 공유하고 함께 공부하며 IT 진로를 찾아보자는 취지에 시작된 이 작은 스터디는 현재 1기와 2기를 거치면서 빠르게 성장하고 있습니다. 
    J2KB는 위클리 토요일 정기 세션, 해커톤, 라이트닝 토크, 모각코, TIL & 테크 블로그 활동, 위클리 개인 목표 등 다양한 활동을 하고 있습니다. <br/>
    모든 활동은 온라인으로 진행되었으며 많은 분들이 J2KB를 통해 다양한 정보를 얻고 실력을 향상시켰으며 무엇보다 자신과 비슷한 고민을 가진 사람들과 함께 배워나가며 다양한 가치를 얻었고 지금도 함께 나아가고 있습니다.
  </p>
  
    <p class="introduce">운영진 소개</p>
    <div class="about-container">
      <div class="container-item">
        <div class="title">
          <h2>권혁일</h2>
        </div>
        <img src="img/image.jpg" alt=""/>
        <p>JK2B의 리더를 맡고있습니다. </p>
        <a href="#" class="icon icon-arrow-right button">GO TO BLOG</a>
      </div>
      <div class="container-item">
        <div class="title">
          <h2>권혁일</h2>
        </div>
        <img src="img/image.jpg" alt=""/>
        <p>JK2B의 리더를 맡고있습니다. </p>
        <a href="#" class="button">GO TO BLOG</a>
      </div>
      <div class="container-item">
        <div class="title">
          <h2>권혁일</h2>
        </div>
        <img src="img/image.jpg" alt=""/>
        <p>JK2B의 리더를 맡고있습니다. </p>
        <a href="#" class="icon icon-arrow-right button">GO TO BLOG</a>
      </div>
      <div class="container-item">
        <div class="title">
          <h2>권혁일</h2>
        </div>
        <img src="img/image.jpg" alt=""/>
        <p>JK2B의 리더를 맡고있습니다. </p>
        <a href="#" class="icon icon-arrow-right button">GO TO BLOG</a>
      </div>
    </div>

  <p class="introduce">✨J2KB는 어떤 분과 함께 하나요?✨</p>
  <p class="page">
 J2KB는 이름이 가진 의미 그대로 아름다운 코딩을 알기 위한 여정을 함께할 모험가들을 찾고 있으며 길을 잃은 모험가들도 함께 데려가고자 합니다.
또한 J2KB는 사람들을 위한 교육과 배움의 기회가 평등해야 한다고 생각하며 그러한 기회를 최대한 많은 사람들에게 주고자 하는 아이덴티티와 방향성을 갖고 있습니다.
이러한 여정의 길을 함께 갈고닦을 사람들을 계속해서 찾아가고 있습니다. J2KB는 코딩 스터디 동아리지만 그보다 훨씬 조직적으로 움직이며 그러한 생태계를 저희와 함께 직접 창조하고 발전시켜나갈 수 있습니다.
다양한 활동들을 주도적으로 기획하고 운영해가며 J2KB가 걷고 있는 여정을 앞장서서 이끌어가고 그를 통해 리더십, 커뮤니케이션 능력을 배양할 수 있습니다.
지식 공유라는 쉬워 보이지만 어렵고, 나누어보면 작지만 합쳐보면 커다란 개념을 함께 실천해나갈 수 있습니다.
  </p>
</div>
