<div class="project_wrap">
  <p class="introduce text-white">✨ABOUT J2KB✨</p>
  <p class="page text-white">
    J2KB는 Journey 2(To) Know the Beautiful Coding의 약자이며 2020년 4월, 코딩이 무엇인지도 제대로 모르는 대학생 4명이 만들어낸 코딩 스터디 동아리입니다. <br/>
    서로 정보를 공유하고 함께 공부하며 IT 진로를 찾아보자는 취지에 시작된 이 작은 스터디는 현재 1기와 2기를 거치면서 빠르게 성장하고 있습니다. 
    J2KB는 위클리 토요일 정기 세션, 해커톤, 라이트닝 토크, 모각코, TIL & 테크 블로그 활동, 위클리 개인 목표 등 다양한 활동을 하고 있습니다. <br/>
    모든 활동은 온라인으로 진행되었으며 많은 분들이 J2KB를 통해 다양한 정보를 얻고 실력을 향상시켰으며 무엇보다 자신과 비슷한 고민을 가진 사람들과 함께 배워나가며 다양한 가치를 얻었고 지금도 함께 나아가고 있습니다.
  </p>
  <p class="intro">✨J2KB는 이런 프로젝트를 했어요✨</p>
  <ul class="project_list">
    <li class="card card_1">
      <div class="card-image" style="background-image: url(/img/codev.jpg);"></div>
      <div class="card-contents">
        <h1 class="card-topic">topic</h1>
        <b class="card-team">team</b>
        <p class="card-content">content</p>
      </div>
    </li>
    <li class="card card_2">
      <div class="card-image" style="background-image: url(/img/other.jpg);"></div>
      <div class="card-contents">
        <h1 class="card-topic">topic</h1>
        <b class="card-team">team</b>
        <p class="card-content">content</p>
      </div>
    </li>
    <li class="card card_3">
      <div class="card-image" style="background-image: url(/img/other.jpg);"></div>
      <div class="card-contents">
        <h1 class="card-topic">topic</h1>
        <b class="card-team">team</b>
        <p class="card-content">content</p>
      </div>
    </li>
    <li class="card card_4">
      <div class="card-image" style="background-image: url(/img/other.jpg);"></div>
      <div class="card-contents">
        <h1 class="card-topic">topic</h1>
        <b class="card-team">team</b>
        <p class="card-content">content</p>
      </div>
    </li>
  </ul>
</div>