<ul class="project_list">
  <li class="card card_1">
    <div class="card-image" style="background-image: url(/img/codev.jpg);"></div>
    <div class="card-contents">
      <h1>j2kb 동아리 소개</h1>
      <p>j2kb 동아리를 소개하고 팀별 프로젝트 및 소스를 공유합니다. 일정 기간동안 프로젝트 투표를 진행합니다.</p>
    </div>
    <b class="card-footer">codev-21</b>
  </li>
  <li class="card card_2">
    <div class="card-image" style="background-image: url(/img/other.jpg);"></div>
    <div class="card-contents">
      <h1>다른팀 주제</h1>
      <p>j2kb 동아리를 소개하고 팀별 프로젝트 및 소스를 공유합니다. 일정 기간동안 프로젝트 투표를 진행합니다.</p>
    </div>
    <b class="card-footer">#BBBBFF</b>
  </li>
  <li class="card card_3">
    <div class="card-image" style="background-image: url(/img/other.jpg);"></div>
    <div class="card-contents">
      <h1>다른팀 주제</h1>
      <p>j2kb 동아리를 소개하고 팀별 프로젝트 및 소스를 공유합니다. 일정 기간동안 프로젝트 투표를 진행합니다.</p>
    </div>
    <b class="card-footer">Blooming</b>
  </li>
  <li class="card card_4">
    <div class="card-image" style="background-image: url(/img/other.jpg);"></div>
    <div class="card-contents">
      <h1>다른팀 주제</h1>
      <p>j2kb 동아리를 소개하고 팀별 프로젝트 및 소스를 공유합니다. 일정 기간동안 프로젝트 투표를 진행합니다.</p>
    </div>
    <b class="card-footer">chickpea</b>
  </li>
  <li class="card card_5">
    <div class="card-image" style="background-image: url(/img/other.jpg);"></div>
    <div class="card-contents">
      <h1>다른팀 주제</h1>
      <p>j2kb 동아리를 소개하고 팀별 프로젝트 및 소스를 공유합니다. 일정 기간동안 프로젝트 투표를 진행합니다.</p>
    </div>
    <b class="card-footer">Just do it</b>
  </li>
  <li class="card card_6">
    <div class="card-image" style="background-image: url(/img/other.jpg);"></div>
    <div class="card-contents">
      <h1>다른팀 주제</h1>
      <p>j2kb 동아리를 소개하고 팀별 프로젝트 및 소스를 공유합니다. 일정 기간동안 프로젝트 투표를 진행합니다.</p>
    </div>
    <b class="card-footer">SixSense</b>
  </li>
</ul>

<!-- modal 1 -->
<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h1>j2kb 동아리소개 / codev-21</h1>
      <p>
        <span class="close">X</span>
      </p>
    </div>
    <div class="modal-body">
      <table>
        <tbody>
          <tr>
            <td class="modal-body-img">
              <div
                style="background: url(/img/codev.jpg); background-repeat: no-repeat; background-position: center; background-size: contain;">
              </div>
            </td>
          </tr>
          <tr>
            <td class="modal-body-des">
              j2kb 동아리를 소개하고 팀별 프로젝트 및 소스를 공유합니다.
              <br><br>일정 기간동안 프로젝트 투표를 진행하며, j2kb 멤버들만 참여가 가능합니다.일정 기간동안 프로젝트 투표를 진행하며, j2kb 멤버들만 참여가
              가능합니다.일정 기간동안 프로젝트 투표를 진행하며, j2kb 멤버들만 참여가 가능합니다.일정 기간동안 프로젝트 투표를 진행하며, j2kb 멤버들만 참여가
              가능합니다.
              <br><br>본인 팀을 제외하고 투표할 수 있고, 총 세 개의 투표권이 주어집니다.본인 팀을 제외하고 투표할 수 있고, 총
              세 개의 투표권이 주어집니다.
              <br><br>소스코드 github, 연락처 @소스코드 github, 연락처 @소스코드 github, 연락처 @소스코드 github, 연락처 @
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="modal-footer-btn">VOTE</button>
    </div>
  </div>
</div>