<div class="project_wrap">
  <ul class="project_list">
    <li class="card card_1">
      <div class="card-image" style="background-image: url(/img/codev.jpg);"></div>
      <div class="card-contents">
        <h1>j2kb 동아리 소개</h1>
        <b class="card-team">codev-21</b>
        <p>j2kb 동아리를 소개하고 팀별 프로젝트 및 소스를 공유합니다.j2kb 동아리를 소개하고 팀별 프로젝트 및 소스를 공유합니다. j2kb 동아리를 소개하고 팀별 프로젝트 및 소스를
          공유합니다. 일정
          기간동안 프로젝트 투표를 진행합니다.</p>
      </div>
    </li>
    <li class="card card_2">
      <div class="card-image" style="background-image: url(/img/other.jpg);"></div>
      <div class="card-contents">
        <h1>다른팀 주제</h1>
        <b class="card-team">#BBBBFF</b>
        <p>j2kb 동아리를 소개하고 팀별 프로젝트 및 소스를 공유합니다. 일정 기간동안 프로젝트 투표를 진행합니다.</p>
      </div>
    </li>
    <li class="card card_3">
      <div class="card-image" style="background-image: url(/img/other.jpg);"></div>
      <div class="card-contents">
        <h1>다른팀 주제</h1>
        <b class="card-team">Blooming</b>
        <p>j2kb 동아리를 소개하고 팀별 프로젝트 및 소스를 공유합니다. 일정 기간동안 프로젝트 투표를 진행합니다.</p>
      </div>
    </li>
    <li class="card card_4">
      <div class="card-image" style="background-image: url(/img/other.jpg);"></div>
      <div class="card-contents">
        <h1>다른팀 주제</h1>
        <b class="card-team">chickpea</b>
        <p>j2kb 동아리를 소개하고 팀별 프로젝트 및 소스를 공유합니다. 일정 기간동안 프로젝트 투표를 진행합니다.</p>
      </div>
    </li>
    <li class="card card_5">
      <div class="card-image" style="background-image: url(/img/other.jpg);"></div>
      <div class="card-contents">
        <h1>다른팀 주제</h1>
        <b class="card-team">Just do it</b>
        <p>j2kb 동아리를 소개하고 팀별 프로젝트 및 소스를 공유합니다. 일정 기간동안 프로젝트 투표를 진행합니다.</p>
      </div>
    </li>
    <li class="card card_6">
      <div class="card-image" style="background-image: url(/img/other.jpg);"></div>
      <div class="card-contents">
        <h1>다른팀 주제</h1>
        <b class="card-team">SixSense</b>
        <p>j2kb 동아리를 소개하고 팀별 프로젝트 및 소스를 공유합니다. 일정 기간동안 프로젝트 투표를 진행합니다.</p>
      </div>
    </li>
  </ul>
</div>