<div class="project_wrap">
  <p class="intro">✨J2KB는 이런 프로젝트를 했어요✨</p>
  <ul class="project_list">
    <li class="card card_1">
      <div class="card-image" style="background-image: url(/img/codev.jpg);"></div>
      <div class="card-contents">
        <h1 class="card-topic">topic</h1>
        <b class="card-team">team</b>
        <p class="card-content">content</p>
      </div>
    </li>
    <li class="card card_2">
      <div class="card-image" style="background-image: url(/img/other.jpg);"></div>
      <div class="card-contents">
        <h1 class="card-topic">topic</h1>
        <b class="card-team">team</b>
        <p class="card-content">content</p>
      </div>
    </li>
    <li class="card card_3">
      <div class="card-image" style="background-image: url(/img/other.jpg);"></div>
      <div class="card-contents">
        <h1 class="card-topic">topic</h1>
        <b class="card-team">team</b>
        <p class="card-content">content</p>
      </div>
    </li>
    <li class="card card_4">
      <div class="card-image" style="background-image: url(/img/other.jpg);"></div>
      <div class="card-contents">
        <h1 class="card-topic">topic</h1>
        <b class="card-team">team</b>
        <p class="card-content">content</p>
      </div>
    </li>
    <li class="card card_5">
      <div class="card-image" style="background-image: url(/img/other.jpg);"></div>
      <div class="card-contents">
        <h1 class="card-topic">topic</h1>
        <b class="card-team">team</b>
        <p class="card-content">content</p>
      </div>
    </li>
    <li class="card card_6">
      <div class="card-image" style="background-image: url(/img/other.jpg);"></div>
      <div class="card-contents">
        <h1 class="card-topic">topic</h1>
        <b class="card-team">team</b>
        <p class="card-content">content</p>
      </div>
    </li>
  </ul>
</div>